<div class="container">

<ul class="list-inline">
  <li><i class="fas fa-utensils"></i></li>
  <li><h1>Restaurants</h1></li>
  <li><i class="fas fa-utensils"></i></li>
</ul>

<div>
  <ul class="list-resto">
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to "#{restaurant.name}", restaurant_path(restaurant.id) %></li>
    <% end %>
  </ul>
</div>

<div class="card">
  <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-primary" %>
</div>

</div>
