<h1>New review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <div class="form-group">
    <%= f.input :content, class: 'form-controls' %>
  </div>
  <div class="form-group">
    <%= f.input :rating, class: 'form-controls' %>
  </div>
  <div class="form-group">
    <%= f.submit "Add a review", class: "btn btn-primary" %>
  </div>
<% end %>
